.images
    background-image: url(../img/data/events/flyer1.jpg)
    background-image: url(../img/data/events/flyer2.jpg)
    background-image: url(../img/data/events/flyer3.jpg)
    background-image: url(../img/favicon.ico)