<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music</title>
    <link rel="stylesheet" href="css/main.bundle.css<%= htmlWebpackPlugin.options.version %>">
</head>
<body>

    <nav>
        <div class="page-wrapper">
            <div class="nav__social">
                <a href="#"><i class="icon-twitter"></i></a>
                <a href="#"><i class="icon-linkedin"></i></a>
                <a href="#"><i class="icon-instagram"></i></a>
            </div>
            <div class="nav__menu">
                <a href="javascript:;">EVENTOS</a>
                <a href="javascript:;">MEDIA</a>
                <a href="javascript:;">SOBRE</a>
                <a href="javascript:;">CONTATO</a>
            </div>
        </div>
    </nav>

    <header>
        <div class="header__logo">LOGO</div>
        <div class="header__arrow"><i class="icon-chevron-down"></i></div>
    </header>

    <section class="events" style="display:none">
        
    </section>

    <section class="media">
        <div class="page-wrapper">
            <h2>MEDIA</h2>
        </div>
    </section>

    <section class="about">
        <div class="page-wrapper">
        </div>
    </section>

    <section class="contact">
        <div class="page-wrapper">
            <h2>CONTATO</h2>
        </div>
    </section>

    <script src="js/main.bundle.js<%= htmlWebpackPlugin.options.version %>" charset="utf-8"></script>
</body>
</html>